extends layout.pug
block content-body
    table( class="table table-default table-striped table-bordered" style='width:100%;border:1px solid;border-collapse:collapse')
        tr
            th H1
            th H2
            th H3
            th H4
        each val in users  
            tr 
                td  name 
                td #{val.name  }
                td  age 
                td #{val.age}
    a(href="/" class="btn btn-primary") back
